* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

main{
    // height: 100%;
    // width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color:whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    h5{
        font-size: 4rem;
    }

    input[type="submit"]{
        outline: none;
        width: 5rem;
        height: 30px;
        padding-inline: 10px
    }

    input{
        outline: none;
        width: 20rem;
        height: 30px;
        padding-inline: 10px;

    }
    h3{
        font-size: 2rem;
    }
}
