* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-primary-color);
}
main {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-primary-color);
}

main section {
  width: 100%;
  padding: var(--padding-2xl);
}

.btn {
  padding: var(--padding-sm) var(--padding-lg);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--border-radius-lg);
  background-color: var(--bg-active-color);
  color: var(--text-active-color);
  font-weight: 600;
}

#reset-btn {
  background-color: var(--bg-danger-color);
  color: var(--text-primary-color);
}

#download-btn {
  background-color: var(--bg-sucess-color);
  color: var(--text-primary-color);
}

main section #left {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-lg);
  width: 70%;
}

main section #right {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-lg);
  width: 30%;
}



main section #top {
  display: flex;
  gap: var(--gutter-md);
  align-items: center;
}

main section #bottom {
  background-color: red;
}

#bottom #placeholder {
  color: var(--text-primary-color);
}
