* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}

.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(20px at 200px 200px, transparent,blue)
}