* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;



  #allReels {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
    .reel {

      scroll-snap-align: start; // <--- ADD THIS
      height: 100%;
      position: relative;
      // margin-bottom: 1rem;
      padding: 1rem 0rem;

      // padding: 1rem;
      width: 25rem;

      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }

      #bttm {
        position: absolute;
        bottom: 4%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        #fllwsec {
          font-family: Arial, Helvetica, sans-serif;
          display: flex;
          align-items: center;
          gap: 10px;
          margin-left: 20px;
          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }
          h2 {
            color: black;
            font-size: 1rem;
          }
          button {
            height: fit-content;
            padding: 5px 10px;
            border-radius: 0.3rem;
            border: 1px solid rgb(0, 0, 0, 0.4);
          }
        }

        #text {
          margin-left: 20px;
          color: black;
          p {
            font-size: 1.3rem;
          }
          font-family: Arial, Helvetica, sans-serif;
        }
      }

      #alllogo {
        margin-right: 10px;
        position: absolute;
        right: 0;
        bottom: 15%;
        display: flex;
        flex-direction: column;
        color: white;
        gap: 15px;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;

        .likelogo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          i {
            font-size: 2rem;
            pointer-events: none;
          }
          p {
            font-size: 1rem;
            pointer-events: none;
          }

          .ri-heart-fill{
            color: red;
          }
        }

        #commentlogo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          i {
            font-size: 2rem;
          }
          p {
            font-size: 1rem;
          }
        }
        #sharelogo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          i {
            font-size: 2rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
      .volume{
        position: absolute;
        top: 5%;
        z-index: 99999;
        font-size: 2rem;
        right: 2%;
        i{
          color: black;
          pointer-events: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    height: 100%;
    width: 100%;
    #allReels {
      .reel {
        width: 100%;

        #alllogo {
            bottom: 20%;
          #likelogo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            i {
              font-size: 2.5rem;
            }
            p {
              font-size: 1rem;
            }
          }
          #commentlogo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            i {
              font-size: 2.5rem;
            }
            p {
              font-size: 1rem;
            }
          }
          #sharelogo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            i {
              font-size: 2.5rem;
            }
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
