* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #222;
    cursor: none;
}

img{
    position: fixed;
    height: 50px;
    transform: translate(-50%,-50%);
    transition: all linear 0.3s;
}