* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  #taskbar {
    width: 100%;
    height: 50px;
    display: flex;
    padding-inline: 10px;
    background-color: #1a1a1a;
    border-top: 1px solid rgba(255, 255, 255, 0.188);
    justify-content: space-between;
    // align-items: center;
    #taskbar1 {
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      #winLogo {
        background-image: url(windowLogo.png);
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 50px;

      }
      #searchBar {

           
        height: 35px;
          width: 230px;
          padding: 8px 15px;
          background: #2c2c2c; /* dark grey like Windows */
          border-radius: 25px;
          display: flex;
          align-items: center;
          gap: 10px;

           input {
            background: transparent;
            border: none;
            outline: none;
            color: white;
            font-size: 14px;
            width: 100%;
          }

          .icon {
            color: #bfbfbf; /* light grey icon color */

        }
      }
      #Applicationicons{
        display: flex;
        gap: 15px;
        img{
            height: 30px;
            width: 30px;
            object-fit: cover;
        }
      }
    }

    #taskbar2{
        padding-right: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        #bottomArrow{
            color:#ffff;
        }

        #language{
            #lan{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    color: #ffff;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }

        #icons{
            i{
                color: #ffff;
            }
        }

        #dateTime{
            
            color: #ffff;
            display: flex;
            flex-direction: column;

            p{
                font-size: 12px;
                font-weight: 600;
            }

            p:nth-child(1){
                align-self: flex-end;
            }
        }

    }
  }

  #top {
    width: 100%;
    height: calc(100% - 50px);
    background-image: url(window11wallpaper2.png);
    background-size: cover;
    background-position: center;
  }
}
