* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: relative;

  
    #contextMenu{
      
      position: absolute;
 
      // height: 300px;
      background-color: #1a1a1a;
      width: 220px;
      border-radius: 10px;
      color: #fff;
      padding: 10px;
      display: none;
      flex-direction: column;

      .containers{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 5px;
        border-radius: 5px;
        #left{
          display: flex;
           gap: 10px;
           align-items: center;
           i{
            font-size: 16px;
           }
           p{
            font-size: 14px;
            user-select: none;
           }
        }
        #right{
          p{
            font-size: 10px;
            user-select: none;
          }
        }

         &:hover {
          background-color: #45454593;
        }
      }
    }

  #taskbar {
    width: 100%;
    height: 50px;
    display: flex;
    padding-inline: 10px;
    background-color: #1a1a1a;
    border-top: 1px solid rgba(255, 255, 255, 0.188);
    justify-content: space-between;
    align-items: center;
    #taskbar1 {
      display: flex;
      align-items: center;
      // justify-content: center;
      
      #winLogo {
        height: 100%;
        // width: 50px;

        #logocontainer {
          width: 45px;
          height: 45px;
          overflow: hidden;
          border-radius: 5px;
          display: flex;
          align-items: center; /* vertical center */
          justify-content: center; /* horizontal center */

          img {
            width: 60px;
            // padding: 1px
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.087);
          }
        }
      }
      #searchBar {
        height: 35px;
        width: 230px;
        padding: 8px 15px;
        background: #2c2c2c; /* dark grey like Windows */
        border-radius: 25px;
        display: flex;
        align-items: center;
        gap: 10px;

        input {
          background: transparent;
          border: none;
          outline: none;
          color: white;
          font-size: 14px;
          width: 100%;
        }

        .icon {
          color: #bfbfbf; /* light grey icon color */
        }
        &:hover {
          background-color: #45454593;
        }
      }
      #Applicationicons {
        display: flex;
        img {
          width: 44px;
          display: block;
          padding: 8px;
          border-radius: 5px;

          &:hover {
            background-color: rgba(255, 255, 255, 0.087);
          }
        }
      }
    }

    #taskbar2 {
      padding-right: 10px;
      display: flex;
      align-items: center;
      gap: 0px;
      #bottomArrow {
        &:hover {
          background-color: rgba(255, 255, 255, 0.087);
        }
        padding: 10px 5px;
        border-radius: 5px;
        color: #ffff;
        i {
          font-size: 20px;
        }
      }

      #language {
        &:hover {
          background-color: rgba(255, 255, 255, 0.087);
        }
        padding: 5px 7px;
        border-radius: 5px;
        #lan {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            color: #ffff;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }

      #icons {
        padding: 5px;
        border-radius: 5px;
        display: flex;
        &:hover {
          background-color: rgba(255, 255, 255, 0.087);
        }

        gap: 5px;
        i {
          color: #ffff;
          font-size: 17px;
          padding: 5px;
        }
      }

      #dateTime {
        &:hover {
          background-color: rgba(255, 255, 255, 0.087);
        }
        padding: 5px 10px;
        border-radius: 5px;

        color: #ffff;
        display: flex;
        flex-direction: column;

        p {
          font-size: 12px;
          font-weight: 600;
        }

        p:nth-child(1) {
          align-self: flex-end;
        }
      }
    }
  }

  #top {
    width: 100%;
    height: calc(100% - 50px);
    background-image: url(window11wallpaper2.png);
    background-size: cover;
    background-position: center;
  }
}
