* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  height: 100%;
  width: 100%;
  background-color: #111;
  @include flex();

  .panel {
    width: 80%;
    background-color: rgba(7, 186, 7, 0.529);
    border-radius: 10px;
    transition: all ease 0.5s;

    &:hover {
      box-shadow: 0px 0px 40px rgba(7, 186, 7, 0.529);
    }

    .paneltop {
      height: 100px;
      width: 100%;
      @include flex();
      border-radius: 10px;
      gap: 20%;
      color: white;
      background-color: #15bc13e0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

      .box {
        @include flex();
        gap: 10px;
        p {
          height: 30px;
          width: 30px;
          border-radius: 10px;
          @include flex();
          font-size: 1.5rem;
        }
      }
    }
    .panelbttm {
     height: calc(100% - 100px);  
     width: 100%;
     color: white;
     background-color: #111;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     @include flex();
     gap: 1rem;
     padding: 1rem;
     flex-wrap: wrap;
     backdrop-filter: blur(10);

     .elem{
        height: 50px;
        width: 50px;
        background-color: mediumseagreen;
        border-radius: 50%;
        flex-shrink: 0;
        color: white;
        transition: all ease 0.4s;
        @include flex();

        &:hover{
            background-color: green;
        }
     }
    }
  }
}
