* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  #bttn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .cards {
    .card {
      position: absolute;
      top: 35%;
      left: 55%;
      height: 200px;
      width: 200px;
      &:nth-child(1) {
        background-color: whitesmoke;
        z-index: 9;
      }
      &:nth-child(2) {
        background-color: rgba(255, 0, 0, 0.742);
        z-index: 8;
        transform: translateX(5px);
      }
      &:nth-child(3) {
        background-color: rgba(0, 128, 0, 0.53);
        z-index: 7;
        transform: translateX(10px);
      }
      &:nth-child(4) {
        background-color: rgba(255, 255, 0, 0.564);
        z-index: 6;
      }
      &:nth-child(5) {
        background-color: rgba(0, 0, 255, 0.767);
        z-index: 5;
      }
    }
  }
}
